body {
    font-family: Arial, sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    background-color: #fff;
}
.bulk-wrapper {
  width: 100%;
  max-width: 1520px;
  margin: 60px auto;
}


.bluk-banner {
    width: 100%;
    height: auto;
    overflow: hidden;
    position: relative;
}

.bluk-banner img {
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
    /* optional: keeps aspect ratio */

}

.bluk-form-container {
    max-width: 100%;
    max-width: 450px;
    background-color: #fff;
    padding: 0.5rem;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: absolute;
    top: 15%;
    left: 60%;
}

.bluk-form-container h2 {
    font-size: 20px;
    margin-bottom: 10px;
    padding: 0px 15px;
}

.bulk-sub-text {
    font-size: 16px;
    color: #555;
    margin-bottom: 1.5rem;
    padding: 0px 15px;
}

.bulk-form{
    padding: 0px 15px;
}
.bulk-label {
    display: block;
    margin: 1rem 0 0.4rem;
    font-size: 14px;
    color: #444b50;
}

.input-field {
    width: 90%;
    padding: 0.6rem;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 1rem;
}
.radio-group {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-top: 0.5rem;
}

.radio-group label {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-size: 14px;
    color: #444b50;
}

.bulk-btn {
    width: 100%;
    padding: 0.9rem;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    background-color: #000;
    color: #fff;
    border: none;
    border-radius: 6px;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s;
}

.bulk-btn:hover {
    background-color: #333;
}

/* Responsive */
@media (max-width: 500px) {
    .bluk-form-container {
        padding: 1rem;
    }

    .bluk-form-container {
        display: flex;
        flex-direction: column;
        position: static;
    }

    .bluk-form-container h2 {
        font-size: 1.2rem;
    }

    .bulk-sub-text {
        font-size: 0.85rem;
    }
}