* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', sans-serif;
}

.signup-login-body {
  background-color: #f8f8f8;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.signup-container {
  background: #ffffff;
  padding: 40px;
  border-radius: 12px;
  width: 100%;
  max-width: 380px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.08);
  text-align: center;
}

.signup-container h2 {
  margin-bottom: 10px;
  font-size: 24px;
  font-weight: bold;
}

.signup-subtext {
  font-size: 14px;
  color: #777;
  margin-bottom: 20px;
}

.signup-login-form input {
  width: 100%;
  padding: 12px;
  margin-bottom: 14px;
  border: 1px solid #ccc;
  border-radius: 30px;
  outline: none;
}

.password-wrapper {
  position: relative;
}

.signup-btn {
  width: 100%;
  padding: 12px;
  background-color: #000;
  color: white;
  border: none;
  border-radius: 30px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 10px;
}

.login-text {
  font-size: 14px;
  margin-top: 15px;
}

.login-text a {
  text-decoration: none;
  font-weight: 600;
  color: #000;
}
