*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', sans-serif;
}
.header{
    padding: 18px 60px;
}
.navbar{
    background-color: antiquewhite;
    height: 50px;
    width: 1400px;
    
}